* {
    padding: 0;
    margin: 0;
    accent-color: var(--color-alpha);
}

h1, h2, h3, h4 {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 800;
}

h2 {
    font-size: 1.2em;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    background-color: var(--background);
    background-size: cover;
    background: linear-gradient(45deg, var(--background), var(--light-gray));
    color: var(--very-dark-gray)!important;
    box-sizing: border-box;

    accent-color: var(--warr-blue-1)!important;
    outline: var(--warr-blue-1)!important;
    font-size: 0.7rem;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    overflow: hidden;
}

a,
a:visited {
    text-decoration: none!important;
    color: unset!important;
}

button {
    padding: 0.25em;
    margin: 0.25em;
    min-width: 5em;
    background-color: var(--very-light-gray);
    border: 1px solid var(--warr-blue-1);
    border-radius: var(--border-radius);
    color: var(--warr-black);
    cursor: pointer;
}

button:hover {
    background-color: var(--very-light-gray);
    border-color: var(--warr-blue-3);
}

button:active {
    background-color: var(--background);
    border-color: var(--warr-blue-2);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#credentials {
    margin: 2em 1em
}

footer {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--warr-blue-2);
    padding: 1ex 3em;
    margin-top: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

main {
    width: 100vw;
    height: 80%;
    justify-content: center;
}

.logo {
    aspect-ratio: 1/1;
    width: 7em;
    margin: 0.5em;
    vertical-align: middle;
    line-height: normal;
}

#error-message {
    opacity: 0;
    will-change: opacity;
    transition: opacity 700ms;
    color: var(--warr-red);
    padding: 0.25em;
}

#sign {
    aspect-ratio: 3/1;
    height: 4ex;
    fill:var(--light-gray);
    transition: fill 200ms;
}

#sign:hover {
    fill:var(--warr-blue-2);
}

.user-input {
    margin: 0.5em;
}

.user-input label {
    text-align: right;
    display: inline-block;
    min-width: 5em;
    margin-right: 0.5em;
}

.user-input input {
    min-width: 10em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background-color: var(--very-light-gray);
    border: none;
    border-bottom: 1px solid var(--very-dark-gray);
    outline: none;
    color: var(--very-dark-gray);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: text;
    text-align: left;
    padding: 0.25em;
    margin: 0;
}

.user-input input:hover,
.user-input input:focus {
    border-color: var(--warr-blue-3)!important;
}

.user-input input:focus {
    background-color: var(--background)!important;
}

#login {
    padding: 0.5em 2em;
    margin: 1em;
}
