* {
    padding: 0;
    margin: 0;
    accent-color: var(--color-alpha);
}

h1, h2, h3, h4 {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 800;
}

h2 {
    font-size: 1.2em;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    background-color: var(--background);
    background-size: cover;
    background: black;
    color: var(--very-dark-gray)!important;
    box-sizing: border-box;
    accent-color: var(--warr-blue-1)!important;
    outline: var(--warr-blue-1)!important;
    font-size: 0.7rem;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-color: black;
    background-image: url(assets/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: 400ms ease-out 0s 1 fadeIn;
    filter: url(#f1);
    -webkit-filter: url(#f1);
}

@keyframes fadeIn {
    0%,20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@property --blur {
    syntax: '<number>';
    initial-value: 0;
    inherits: false;
}

#card {
    padding: 1em 1em 5em 1em;
    border-radius: var(--border-radius);
    background-color: color-mix(in srgb, black, transparent 75%);
    backdrop-filter: blur(10px) contrast(1.05) saturate(160%);
    -webkit-backdrop-filter: blur(10px) contrast(1.05) saturate(160%);
    mask-image: linear-gradient(-90deg, black 80%, transparent 100%);
    -webkit-mask-image: -webkit-linear-gradient(-90deg, black 80%, transparent 100%);
    animation: 700ms cubic-bezier(0.16, 1, 0.3, 1) slideInFromBottom;

}

@keyframes slideInFromBottom {
    0% {
        backdrop-filter: blur(0px) contrast(1.2) saturate(100%);
        -webkit-backdrop-filter: blur(0px) contrast(1.2) saturate(100%);
        transform: translateY(100px);
    }
    100% {
        backdrop-filter: blur(10px) contrast(1.05) saturate(160%);
        -webkit-backdrop-filter: blur(10px) contrast(1.05) saturate(160%);
        transform: translateY(0);
    }
}


a,
a:visited {
    text-decoration: none!important;
    color: unset!important;
}

button {
    padding: 0.25em;
    margin: 0.25em;
    min-width: 5em;
    background-color: color-mix(in srgb, var(--very-light-gray), transparent 50%);
    border: 1px solid var(--warr-blue-1);
    border-radius: var(--border-radius);
    color: var(--warr-black);
    cursor: pointer;
}

button:hover {
    background-color: var(--very-light-gray);
    border-color: var(--warr-blue-3);
}

button:active {
    background-color: var(--background);
    border-color: var(--warr-blue-2);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#credentials {
    margin: 3em 1em
}

footer {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--warr-blue-2);
    padding: 1ex 3em;
    margin-top: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

main {
    width: 100vw;
    height: 80%;
    justify-content: center;
}

.logo {
    aspect-ratio: 1/1;
    width: 7em;
    margin: 0.5em;
    vertical-align: middle;
    line-height: normal;
}

#error-message {
    font-weight: 800;
    will-change: opacity;
    transition: color 200ms, opacity 700ms;
    width: 16em;
    padding: 0.25em;
    text-align: center;
    color: var(--warr-red);
}

#sign {
    aspect-ratio: 3/1;
    height: 4ex;
    fill:var(--light-gray);
    transition: fill 200ms;
}

#sign:hover {
    fill:var(--warr-blue-2);
}

.user-input {
    margin: 0.5em;
}

.user-input label {
    text-align: right;
    display: inline-block;
    min-width: 5em;
    margin-right: 0.5em;
}

.user-input input {
    min-width: 10em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background-color: color-mix(in srgb, var(--very-light-gray), transparent 50%);
    border: none;
    border-bottom: 1px solid var(--very-dark-gray);
    outline: none;
    color: var(--very-dark-gray);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: text;
    text-align: left;
    padding: 0.25em;
    margin: 0;
}

.user-input input:hover,
.user-input input:focus {
    border-color: var(--warr-blue-3)!important;
}

.user-input input:focus {
    background-color: var(--background)!important;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 2em;
    margin: 1em;
    text-align: right;
    line-height: 1em;
}

.waiting {
    cursor: wait!important;
}

.waiting button,
.waiting button:hover,
.waiting button:active {
    pointer-events: none;
    border-color: var(--light-gray);
}


.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  width: 1em;
  height: 1em;
  margin-right: 1ex;
  margin-left: -1.5em;
  opacity: 0;
  will-change: margin-left opacity;
  transition: 200ms;
}
.waiting .lds-dual-ring{
    margin-left: 0;
    opacity: 1;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  border-radius: 50%;
  border: 6.4px solid var(--very-dark-gray);
  border-color: var(--dark-gray) transparent var(--dark-gray) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
