* {
    padding: 0;
    margin: 0;
    accent-color: var(--color-alpha);
}

h1, h2, h3, h4 {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 800;
}

h2 {
    font-size: 1.2em;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    background-color: var(--background);
    background-size: cover;
    background: linear-gradient(45deg, var(--background), var(--very-light-gray));
    color: var(--very-dark-gray)!important;
    box-sizing: border-box;

    accent-color: var(--warr-blue-1)!important;
    outline: var(--warr-blue-1)!important;
    font-size: 0.7rem;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    overflow: hidden;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

a,
a:visited {
    text-decoration: none!important;
    color: unset!important;
}

button {
    padding: 0.25em;
    margin: 0.25em;
    min-width: 5em;
    background-color: var(--very-light-gray);
    border: 1px solid var(--warr-blue-1);
    border-radius: var(--border-radius);
    color: var(--warr-black);
    cursor: pointer;
}

button:hover {
    background-color: var(--very-light-gray);
    border-color: var(--warr-blue-3);
}

button:active {
    background-color: var(--background);
    border-color: var(--warr-blue-2);
}

.save-button {
    border-color: color-mix(in srgb, var(--warr-green), var(--dark-gray) 20%)!important;
}
.save-button:hover {
    border-color: var(--warr-green)!important;
}
.save-button:active {
    border-color: color-mix(in srgb, var(--warr-green), var(--light-gray) 80%)!important;
}

#save-settings {
    grid-column: 1/3;
}

#view-controls {
    display: flex;
    justify-content: flex-end;
    margin: -2em 0 0em 0;
    gap: 0.25em;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1ex 4em;
    border-bottom: 1px solid var(--warr-blue-1);
    outline: 2px solid var(--warr-blue-3);
    margin-bottom: 1em;
    background-color: var(--background);
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
}

.armed #header {
    outline-color: var(--warr-yellow);
    border-color: color-mix(in srgb, var(--warr-yellow), black 40%);
}

.triggered #header {
    outline-color: var(--warr-red)!important;
    border-color: color-mix(in srgb, var(--warr-red), black 40%)!important;
}

#name {
    display: flex;
    align-items: center;
    width: 60vw;
}

#name-text {
    width: fit-content;
    vertical-align: middle;
    line-height: 80%;
    height: 100%;
}

.logo {
    width: 1.75em;
    margin: 0.25ex 0.25em 0.25ex 0;
    vertical-align: middle;
    line-height: normal;
}

#info {
    font-size: 0.9em !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
}

#info > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#info label {
    display: inline-block;
    min-width: 6em;
    text-align: right;
    padding: 0;
    margin-right: 1em;
}

#info select {
    padding: 0;
    height: 1em;
    border-bottom: 0;
    min-width: 6em;
}

#device-id, #connection, #time, #username {
    font-weight: 600;
}

#connection {
    color: var(--warr-black);
}

.online #connection {
    color: var(--warr-green);
}
.offline #connection::before {
    content: "Offline";
    color: var(--warr-red);
}

footer {
    background-color: var(--background);
    z-index: 999999;
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--warr-blue-2);
    padding: 1ex 3em;
    margin-top: 10px;
    color: color-mix(in srgb, var(--light-gray), var(--dark-gray) 50%);
}

#sign {
    cursor: help;
    aspect-ratio: 3/1;
    height: 4ex;
    transition: fill 200ms;
    fill: var(--light-gray);
}

#snackbar-footer {
}
#snack-title-footer {
    font-weight: 400;
}
#snack-body-footer {
    margin-left: 1ex;
}

#sign:hover {
    fill: var(--warr-blue-2);
}

#main-grid {
    display: grid;
    padding: 0 10px;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.plot {}

#timeplot {
    position: relative;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0.75em;
    overflow: visible;
    height: 100%;
}

.border  {
    border-radius: calc(2 * var(--border-radius));
    border: 1px solid var(--light-gray);
    will-change: border-color;
    transition:  10ms;
}

.border:hover {
    background-color: var(--background);
    border-color: color-mix(in srgb, var(--warr-blue-3), black 20%);
}

.container.label::before {
    content: attr(id);
    position: relative;
    top: -1.55em;
    left: 0.5em;
    padding: 0 4px;
    background-color: var(--background);
}

#camera {
    height: auto!important;
}

#camera-container {
    aspect-ratio: 16/9;
    position: relative;
    background-color: var(--background);
    background-image: var(--url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 0 0;
    border-radius: calc(2.5 * var(--border-radius));
    cursor: zoom-in;
}

.fullscreen::before,
.fullscreen::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.fullscreen::before {
    background-color: rgb(127, 127, 127);
    opacity: 1.0;
}
.fullscreen::after {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.fullscreen #camera-container  {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    border-radius: 0;
    background-color: transparent;
    transform: scale(1) translateY(-50%) translateX(-50%); /* scale to fill screen */
    z-index: 1000; /* bring to front */
    cursor: zoom-out;
}

.offline.fullscreen #camera-container  {
    filter: none!important;
}

.offline #camera-container {
    filter: grayscale(50%) contrast(0.5);
}

#camera-container::before {
    content: "";
    position: absolute;
    right: 1%;
    bottom: 2.5%;
    width: 10%;
    aspect-ratio: 1/1;
    z-index: 10000;
    background-image: url(assets/dinolabsBlue.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: color-mix(in srgb, white, transparent 50%);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 100%;
}

.offline #camera-container::after {
    content: "Unavailable";
    color: var(--dark-gray);
    background-color: var(--background);
    padding: 1em;
    filter: none!important;
    z-index: 99990;
}

.offline.fullscreen #camera-container::after {
    content: "";
    background-color: none!important;
    padding: 0;
}

#last-camera-update {
    font-style: italic;
    text-align: right;
    color: var(--dark-gray);
    display: block;
    margin-top: -2em;
    margin-bottom: -0.5em;
}

#camera-timestamp,
#camera-timestamp {
    font-style: normal;
    color: var(--warr-black);
}

.vis-text {
    color: var(--very-dark-gray)!important;
}
.vis-timeline {
    border: none!important;
    transition: 10ms!important;
    visibility: visible!important;
}

.vis-panel.vis-bottom, .vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right, .vis-panel.vis-top,
.vis-labelset .vis-label,
.vis-foreground .vis-group {
    border-color: var(--light-gray)!important;
}

.vis-time-axis .vis-grid.vis-major,
.vis-panel.vis-background.vis-horizontal .vis-grid.vis-major {
    border-color: var(--light-gray)!important;
}

.vis-time-axis .vis-grid.vis-minor,
.vis-panel.vis-background.vis-horizontal .vis-grid.vis-minor {
    border-color: var(--light-gray)!important;
}


.vis-timeline .vis-fill {
    fill: url(#MyGradient)!important;
    fill-opacity: 0.25!important;
    stroke: unset!important
}

#temperature-plot .vis-graph-group0, #temperature-plot .vis-graph-group0.vis-point {
    fill: var(--light-gray)!important;
    stroke: color-mix(in srgb, var(--warr-blue-3), var(--light-gray) 80%)!important;
}

#temperature-plot .vis-graph-group1, #temperature-plot .vis-graph-group1.vis-point {
    fill: color-mix(in srgb, var(--warr-blue-3), var(--light-gray) 60%)!important;
    stroke: color-mix(in srgb, var(--warr-blue-3), var(--dark-gray) 40%)!important;
}

#gas-plot .vis-graph-group0, #gas-plot .vis-graph-group0.vis-point {
    fill: color-mix(in srgb, var(--warr-green), var(--very-light-gray) 60%)!important;
    stroke: color-mix(in srgb, var(--warr-green), var(--dark-gray) 10%)!important;
}

#od-plot .vis-graph-group0, #od-plot .vis-graph-group0.vis-point {
    fill: color-mix(in srgb, var(--warr-yellow), var(--very-light-gray) 60%)!important;
    stroke: color-mix(in srgb, var(--warr-yellow), var(--dark-gray) 10%)!important;
}

.Illumination .vis-item {
    background-color: color-mix(in srgb, var(--warr-blue-1), var(--very-light-gray) 20%)!important;
    border-color: color-mix(in srgb, var(--warr-blue-1), var(--very-light-gray) 60%)!important;
}
.Temperature .vis-item {
    background-color: color-mix(in srgb, var(--warr-blue-2), var(--very-light-gray) 20%)!important;
    border-color: color-mix(in srgb, var(--warr-blue-2), var(--very-light-gray) 60%)!important;
}
.Mixing .vis-item {
    background-color: color-mix(in srgb, var(--warr-green), var(--very-light-gray) 20%)!important;
    border-color: color-mix(in srgb, var(--warr-green), var(--very-light-gray) 60%)!important;
}
.Pump .vis-item {
    background-color: color-mix(in srgb, var(--warr-blue-3), var(--very-light-gray) 20%)!important;
    border-color: color-mix(in srgb, var(--warr-blue-3), var(--very-light-gray) 60%)!important;
}

.vis-item.expected {
    background-color: transparent;
    border-style: dashed!important;
    z-index: 0;
}
.vis-item.vis-selected {
    opacity: 0.6;
}
.vis-current-time, .vis-item.vis-background.marker {
    background-color: var(--warr-red)!important;
    /* border-right: 1px solid var(--warr-blue-1); */
}

.vis-time-axis .vis-grid.vis-odd {
    background-color: var(--very-light-gray)!important;
}

.vis-foreground .vis-item {
    /* background-color: var(--warr-blue-3);
    border-color: var(--warr-blue-1)!important; */
}

.vis-rolling-mode-btn {
    visibility: hidden!important;
}

.vis-timeline .vis-outline  {
    fill: vaR(--background)!important;
}

.vis-legend {
    background-color: color-mix(in srgb, var(--warr-blue-3), transparent 70%)!important;
    border: 1.5px solid var(--background);
    outline: none;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: none;
    border-radius: var(--border-radius);
}

.vis-label {
    color: var(--dark-gray)!important;
}

.vis-data-label {
    visibility: hidden;
    z-index: 1000;
    fill: var(--very-dark-gray)!important;
}

.vis-data-label:last-child {
    visibility: visible;
}

.vis-data-label:last-child::before {
    content: "";
    width: 100px;
    height: 10px;
    fill: color-mix(in srgb, var(--warr-blue-3), transparent 70%)!important;
    border: 1.5px solid var(--background);
    outline: none;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: none;
    border-radius: var(--border-radius);
}

.frosted {
    background-color: color-mix(in srgb, var(--warr-blue-3), transparent 70%)!important;
    border: 1.5px solid var(--background);
    outline: none;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: none;
    border-radius: var(--border-radius);
}

#settings   {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2ex;
    padding: 1ex 0 0 0;
}
#section-settings {
    margin-top: auto;
}
#context-settings,
#settings-actions   {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: flex-start; */
}

#data-tables {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--very-light-gray);
}

.data-table {
    width: 100%;
    height: calc(100% - 2em);
    border-spacing: 0;
    text-align: left;
    border-collapse: collapse;
    display: table;
    overflow: hidden;
    position: relative;
    scroll-snap-type: y mandatory;
}

.data-table th {
    padding: 0.5em;
    display: inline-block;
    overflow: hidden;
    text-overflow: clip;
    width: 35%;
}

.data-table th:nth-child(1)    {
    border-left: 1px solid var(--very-light-gray);
}
.data-table th:nth-child(2)    {
    float: right;
    text-align: right;
}

.data-table thead {
    top: 0;
    z-index: 100;
    width: 100%;
    position: sticky;
    background-color: var(--background);
    border-bottom: 1.5px solid var(--warr-blue-1);
    display: block;
}

.data-table thead tr {
    display: inline-block;
    width: 100%;
}

.data-table-body tr {
    scroll-snap-align: end;
    display: block;
}
.data-table-body tr:nth-child(odd) {
    background-color: var(--very-light-gray);
}

.data-table-body tr:first-child {
    position: sticky;
    top: 0;
    box-shadow: 0 0 16px black;
}
#temp-table .data-table-body tr:first-child {
    background-color: color-mix(in srgb, var(--warr-blue-3), var(--very-light-gray) 60%);
}

#gas-table .data-table-body tr:first-child {
    background-color: color-mix(in srgb, var(--warr-green), var(--very-light-gray) 60%);
}

#od-table .data-table-body tr:first-child {
    background-color: color-mix(in srgb, var(--warr-yellow), var(--very-light-gray) 60%);
}

.data-table-body td:nth-child(2) {
    text-align: right;
    float: right;
}

.data-table-body tr td {
    padding: 0.1em 0.5em;
    height: 1.5em;
    display: inline-block;
}

.data-table-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
}

#parameter {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#parameter div {
    height: auto!important;
}

.collection{
    display: grid;
    margin: 1em 0.1em;
}

#update-rates,
#actions {
    grid-template-columns: repeat(2, 1fr);
}

label {
    display: inline-block;
    padding: 0.5em;
    text-align: right;
    width: 4em;
}

.unit-input     {
    display: inline-block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select,
input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background-color: var(--very-light-gray);
    border: none;
    border-bottom: 1px solid var(--very-dark-gray);
    outline: none;
    color: var(--very-dark-gray);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: text;
    text-align: right;
    padding: 0.25em;
    margin: 0;
    width: 3em;
}
.unit-input input[type=number],
.unit-input input[type=time],
.unit-input input[type=duration]    {
    width: auto!important;
    max-width: 3em;
}

.unit-input input:disabled,
.unit-input input:disabled:hover {
    cursor: not-allowed;
    border-color: var(--light-gray)!important;
}

.unit-input input:disabled,
input[disabled]::-webkit-datetime-edit-hour-field,
input[disabled]::-webkit-datetime-edit-minute-field,
input[disabled]::-webkit-datetime-edit-text {
    color: var(--light-gray)!important;
}

.unit-input input:hover,
.unit-input input:focus {
    border-color: var(--warr-blue-3)!important;
}

.unit-input input:focus {
    background-color: var(--background)!important;
}

.unit-input::after {
    content: attr(unit);
    margin-left: 1ex;
    color: var(--dark-gray);
}

#dino {
    border: 1px solid var(--warr-blue-1);
    position: absolute;
    width: 80vw;
    left: 10vw;
    height: 80vh;
    top: 10vh;
    z-index: 99999;
}

#snackbar {
    cursor: pointer;
    position: fixed;
    bottom: -21em;
    z-index: 99999;
    box-shadow: 0px 0px 50px black;
    left: 50%;
    transform: translateX(-50%);
    width: 20em;
    background-color: color-mix(in oklab, var(--warr-blue-1), transparent 90%);
    border: 1px solid var(--dark-gray);
    border-radius: calc(2*var(--border-radius));
    padding: 1em;
    text-align: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: background-color 700ms, border-color 200ms, bottom 700ms, transform 100ms;
}
#snackbar:hover {
    transform: translateX(-50%) scale(105%);
}
#snack-divider  {
    width: 100%;
    border-bottom: 1px solid var(--very-dark-gray);
    margin: 1ex 0;
}
#snackbar.show {
    bottom: 7em;
}
#snackbar.fail {
    background-color: color-mix(in oklab, var(--warr-red), transparent 50%);
    border-color: var(--warr-red);
    box-shadow: 0px 0px 100px var(--warr-red);
    bottom: 50%;
    animation: failBlink 300ms ease-in-out 0s infinite alternate;
}

@keyframes failBlink {
    0% {
        box-shadow: 0px 0px 100px var(--warr-red);
        transform: translateX(-50%) scale(100%);
    }
    100% {
        box-shadow: 0px 0px 60px var(--warr-red);
        transform: translateX(-50%) scale(110%);
    }
}
#snackbar.success {
    background-color: color-mix(in oklab, var(--warr-green), transparent 90%);
    border-color: var(--warr-green)!important;
}

@media only screen and (max-width: 600px) {
    body {
        overflow: scroll;
    }
    .container  {
        padding: 1ex;
    }
    #main-grid {
        width: 99vw;
        padding: 0;
        margin: 0 0.5vw
    }
    header,
    footer  {
        padding: 0.5em 0!important;
        width: 100vw;
    }
    .logo {
        width: 4em;
    }
    #name {
        width: 50%;
        font-size: 1.5em;
    }
    #info > div {
        flex-direction: column;
    }

    #info label {
        text-align: center;
        margin-right: 0;
    }
    .collection,
    #main-grid {
        display: flex;
        flex-direction: column;
    }
    #parameter {
        width: 100vw;
    }
    #settings {
        padding: 0.5em;
    }
    #data-tables {
        gap: 0;
    }
    .fullscreen #camera-container {
        width: 100vw;
    }
    .data-table {
        height: 150px;
        padding: 0;
    }
}
